@charset "ISO-8859-1";
.left
{
    text-align: left;
}
.right
{
    text-align: right;
}
.fright
{
    float:right;
}
.welcome
{
    align-items: center;
    align-content: center; 
    text-align: center;
    padding-top: 35px;
}
.covermain {
    position: relative; 
    left: 0; 
    top: 0;
    text-align: center;
}

.propic {
    top: 245px;
    left: 550px;
}

#up_pro_pic
{
    border-radius: 4px;
    position: absolute;
    top: 480px;
    left:722px;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
}

input {
	color: white;
    margin: 5px;
    border-radius:5px;
    border-color:  gray;
    background-color: transparent;
}

form{
	color: white;
}

.btn{
	background-color: #c0c0c0;
	border-radius: 2px;
    color: white;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #808080;
	box-shadow: 1px 1px #666666;
	transform: translateY(1px);
} 

