body {
  background-image: url("../img/background5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Segoe UI";
}
.category {
  opacity: 0.85;
  text-align: center;
}
.category:hover {
  opacity: 2;
}
#items {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 200px;
}
.topBar {
  display: grid;
  background-color: #21ada8;
  height: 180px;
  width: 100%;
  grid-template-columns: 300px auto 250px;
}

a {
  color: #ffff;
  text-decoration: none;
}
.logo {
  padding-left: 20px;
  padding-top: 30px;
  max-height: 5px;
  max-width: 5px;
}
.main {
  padding-right: 150px;
  padding-left: 150px;
  text-align: center;
}
.searchBar {
  display: grid;
  grid-template-rows: 60px 60px 60px;
}

.searchBarRow {
  display: grid;
  grid-template-columns: 850px auto;
}
.searchButton {
  background: none;
  border: none;
  height: 40px;
}

.btn{
	border-radius: 2px;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #808080;
	box-shadow: 1px 1px #666666;
	transform: translateY(1px);
} 

.btn1{
	background-color:transparent;
	border-radius: 4px;
    color: white;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #808080;
	box-shadow: 1px 1px #666666;
	transform: translateY(1px);
}

.btn2{
	background-color:transparent;
	border-radius: 4px;
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
	box-shadow: 1px 1px  #666666;
	transform: translateY(1px);
}

