body {
  background-image: url("../img/background5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Segoe UI";
}

.logo {
  padding-left: 20px;
  padding-top: 30px;
  max-height: 5px;
  max-width: 5px;
}

a {
  color: #ffff;
  text-decoration: none;
}

p{
    color:#ffff;
    text-decoration: none;
}

.main{
    padding-right: 150px;
    padding-left: 150px;
    text-align: center;
}

.topBar {
  display: grid;
  background-color: #21ada8;
  height: 180px;
  width: 100%;
  grid-template-columns: 300px auto;
}

.searchBar {
  display: grid;
  grid-template-rows: 60px 60px 60px;
}

.searchBarRow {
  display: grid;
  grid-template-columns: 850px auto;
}

.bottomBar {
  background-color: ffff;
}

.footer {
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.border {
  border-style: dashed;
}

.searchButton {
  background: none;
  border: none;
  height: 40px;
}

.link:hover {
  color: white;
}

.question {
  color: #ffff;
}

h1 {
  color: #ffff;
}

ul {
  color: #ffff;
}

/*buttons*/
.btn{
	background-color:transparent;
	border-radius: 2px;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #808080;
	box-shadow: 1px 1px #666666;
	transform: translateY(1px);
} 

.btn1{
	background-color:transparent;
	border-radius: 4px;
    color: white;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #808080;
	box-shadow: 1px 1px #666666;
	transform: translateY(1px);
}

button:hover {
	opacity: 0.8;
}
