@charset "ISO-8859-1";
table{

    border-collapse: collapse;
    width: 100%;
    border: 2px solid Gray;
}
  
td {
	color: white;
    text-align: left;
    padding: 8px;
}

th {
    background-color:transparent;
    color: white;
}

h1{

td {
  text-align: left;
  padding: 8px;
  color: #fff;
}

th {
  background-color: transparent;
  color: #fff;
}
